
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
/* CSS code */
body {
  /* background-color: #11001C; */
  padding: 20px;
    background-color: #11001C;
    color: white;
    text-align: center;
    font-family: Poppins;
}
h1 {
  font-size: large;
}

p{
  font-size: small;
}

a {
  text-decoration: none;
  color: white;
}
.profile-img {
  width: 50%;
  border-radius: 50%;
}

.btn{
  display: block;
  color: black;
  padding: 20px;
  background: white;
  margin: 16px;
  box-shadow: 10px 10px lightskyblue;

}